html,
body {
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  font-family: "Helvetica neue", Helvetica, Arial, "sans-serif";
}
table {
  border-collapse: separate;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.prevent-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.disabled {
  color: grey;
  cursor: auto;
  pointer-events: none;
}
.react-list {
  width: 100%;
}
.react-list th {
  padding-left: 2px;
}
.react-list td {
  padding: 0 5px;
}
.fixed-table-container {
  position: relative;
  width: 100%;
  padding-top: 1.5em;
  overflow-x: hidden;
}
.no-header.fixed-table-container {
  padding-top: 0;
}
.no-header.fixed-table-container .fixed-table-header-background {
  display: none;
}
.no-header.fixed-table-container thead {
  display: none;
}
.fixed-table-container-inner {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
}
.fixed-table-header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
}
.fixed-table-hidden-header {
  pointer-events: none;
}
.fixed-table-hidden-header .fixed-table-th-inner {
  position: static;
  visibility: hidden;
  height: 0;
  overflow-y: hidden;
}
.fixed-table-actual-header .fixed-table-th-inner {
  position: absolute;
  top: 0;
  line-height: 1.5em;
}
.cheese-list {
  font-size: 0.95em;
}
.cheese-list .sort-icon {
  font-weight: 100;
  position: absolute;
  right: 5px;
}
.cheese-list .sortable {
  cursor: pointer;
  padding-right: 20px;
}
@media (max-width: 615px) {
  .cheese-list .sortable {
    padding-right: 2px;
  }
}
@media (min-width: 615px) {
  .cheese-list .unsorted::after {
    content: "\f0dc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-weight: 100;
    position: absolute;
    right: 5px;
  }
  .cheese-list .sorted-asc::after {
    content: "\f0de";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-weight: 100;
    position: absolute;
    right: 5px;
  }
  .cheese-list .sorted-desc::after {
    content: "\f0dd";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-weight: 100;
    position: absolute;
    right: 5px;
  }
}
@media (max-width: 615px) {
  .cheese-list .fixed-table-container {
    padding-top: 0;
  }
  .cheese-list .fixed-table-header-background {
    display: none;
  }
  .cheese-list table {
    display: block;
    margin: 0 auto;
  }
  .cheese-list thead {
    display: none;
  }
  .cheese-list tbody {
    display: block;
  }
  .cheese-list tbody tr {
    display: block;
    border: 1px lightgray solid;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  .cheese-list tbody tr td {
    display: block;
    overflow: hidden;
    height: 1.2em;
    border-bottom: 1px lightgray solid;
    max-width: none;
  }
  .cheese-list tbody tr td::last-child {
    border: 0;
  }
  .cheese-list tbody tr td::before {
    display: inline-block;
    content: attr(data-column);
    width: 5em;
    font-weight: bold;
    border-right: 1px lightgray solid;
    padding-right: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 615px) and (max-width: 480px) {
  .cheese-list tbody tr td::before {
    content: initial;
  }
}
.cheese-list-item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 7em;
}
.cheese-list-item-name a {
  text-decoration: none;
}
.cheese-list-item-name a:hover,
.cheese-list-item-name a:focus {
  text-decoration: underline;
}
.cheese-list-item-animal,
.cheese-list-item-country {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 5em;
}
.search-navigation-wrapper {
  width: 100%;
  margin-top: 5px;
}
.search-navigation-inner {
  display: table;
  margin: 0 auto;
}
.search-navigation-inner > * {
  float: left;
}
.search-navigation-per-page-label {
  font-size: 0.75em;
  margin-left: 0.3em;
  margin-right: 0.5em;
}
.page-navigation-link {
  list-style: none;
  float: left;
  cursor: pointer;
  padding: 0 0.33em;
  border: 1px solid;
  margin: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page-navigation-link:hover,
.page-navigation-link:focus {
  background-color: lightgray;
}
.page-navigation-current {
  background-color: grey !important;
}
.search-parameters {
  float: left;
  width: 180px;
  margin: 0 10px;
  font-size: 14px;
}
.search-parameters * {
  max-width: 180px;
}
.search-contents {
  margin-left: 200px;
}
.fetching {
  color: grey;
}
.search-results-wrapper {
  position: relative;
}
.search-results-fetching-wrapper {
  background-color: rgba(122, 122, 122, 0.2);
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.search-results-fetching-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 32px;
}
.select-placeholder {
  color: grey;
}
.search-parameter-container {
  margin-bottom: 1em;
}
.search-parameter-label {
  font-size: 0.9em;
  font-weight: bold;
  margin: 2px 0;
}
.multi-select-controller {
  position: relative;
  height: 1.5em;
  margin-bottom: 0.5em;
}
.multi-select-controller > * {
  height: 100%;
  box-sizing: border-box;
}
.multi-select-controller-mode {
  width: 60px;
  z-index: -1;
}
.multi-select-controller-input {
  width: 120px;
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: 0.5s width;
}
.multi-select-controller-input:focus,
.multi-select-controller-input:active {
  width: 180px;
  z-index: 3;
}
.multi-select-controller-clear {
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0px;
  background: none;
}
.multi-select-option {
  list-style: none;
  margin: 1px 0;
}
.multi-select-option > * {
  cursor: pointer;
}
.multi-select-option-checkbox {
  margin-right: 4px;
}
.multi-select-option-label {
  color: #282828;
}
