html,
body {
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  border: 0;
}

body
{
  font-family: "Helvetica neue",Helvetica,Arial,"sans-serif";
}

table
{
  border-collapse: separate;
}

ul, ol
{
  padding: 0;
  margin: 0;
}


.clearfix
{
  &::after
  {
    content: "";
    display: table;
    clear: both;
  }
}

.prevent-user-select
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fa(@content)
{
  content: @content;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.sort-icons(@maxWidth)
{
  .sort-icon
  {
    font-weight: 100;
    position: absolute;
    right: 5px;
  }

  .sortable
  {
    cursor: pointer;
    //position: relative;
    padding-right: 20px;

    @media(max-width: @maxWidth)
    {
      padding-right: 2px;
    }
  }

  @media(min-width: @maxWidth)
  {
    .unsorted::after
    {
      .fa("\f0dc");
      .sort-icon;
    }
    .sorted-asc::after
    {
      .fa("\f0de");
      .sort-icon;
    }
    .sorted-desc::after
    {
      .fa("\f0dd");
      .sort-icon;
    }
  }
}

.disabled
{
  color: grey;
  cursor: auto;
  pointer-events: none;
}

.react-list
{
  width: 100%;
  th
  {
    padding-left: 2px;
  }
  td
  {
    padding: 0 5px;
  }
}

.fixed-table-container
{
  position: relative;
  // height is set dynamically in react component to equal parent height
  width: 100%;
  padding-top: 1.5em;
  overflow-x: hidden;
}

.no-header.fixed-table-container
{
  padding-top: 0;

  .fixed-table-header-background
  {
    display: none;
  }

  thead
  {
    display: none;
  }
}

.fixed-table-container-inner
{
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
}

.fixed-table-header-background
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
}

.fixed-table-hidden-header
{
  pointer-events: none;

  .fixed-table-th-inner
  {
    position: static;
    visibility: hidden;
    height: 0;
    overflow-y: hidden;
  }
}

.fixed-table-actual-header
{
  .fixed-table-th-inner
  {
    position: absolute;
    top: 0;
    line-height: 1.5em;
  }
}

.folding-table(@triggerWidth, @hideLabelWidth)
{
  @media (max-width: @triggerWidth)
  {
    .fixed-table-container
    {
      padding-top: 0;
    }
    .fixed-table-header-background
    {
      display: none;
    }
    table
    {
      display: block;
      margin: 0 auto;
    }
    thead
    {
      display: none;
    }
    tbody
    {
      display: block;
    }
    tbody tr
    {
      display: block;
      border: 1px lightgray solid;
      border-radius: 4px;
      margin-bottom: 5px;
    }
    tbody tr td
    {
      display: block; 
      overflow: hidden;
      height: 1.2em;
      border-bottom: 1px lightgray solid;
      max-width: none;
    }
    tbody tr td::last-child
    {
      border: 0;
    }
    tbody tr td::before
    {
      display: inline-block;
      content: attr(data-column); 
      width: 5em;
      font-weight: bold;
      border-right: 1px lightgray solid;
      padding-right: 5px;
      margin-right: 5px;

      @media (max-width: @hideLabelWidth)
      {
        content: initial;
      }
    }
  }
}

.cheese-list
{
  .sort-icons(615px);
  .folding-table(615px, 480px);
  font-size: 0.95em;
}

.cheese-list-item-name
{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 7em;
  a
  {
    text-decoration: none;
    &:hover, &:focus
    {
      text-decoration: underline;
    }
  }
}

.cheese-list-item-animal,
.cheese-list-item-country
{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 5em;
}

.search-navigation-wrapper
{
  width: 100%;
  margin-top: 5px;
}

.search-navigation-inner
{
  display: table;
  margin: 0 auto;
  >*
  {
    float: left;
  }
}

.search-navigation-per-page-label
{
  font-size: 0.75em;
  margin-left: 0.3em;
  margin-right: 0.5em;
}

.page-navigation-link
{
  list-style: none;
  float: left;
  cursor: pointer;
  padding: 0 0.33em;

  border: 1px solid;
  margin: 2px;

  &:hover, &:focus
  {
    background-color: lightgray;
  }

  .prevent-user-select;
}

.page-navigation-current
{
  background-color: grey !important;
}

@left-panel-width: 180px;
@left-panel-margin: 10px;

.search-parameters
{
  float: left;
  width: @left-panel-width;
  margin: 0 @left-panel-margin;
  font-size: 14px;
  *
  {
    max-width: @left-panel-width;
  }
}

.search-contents
{
  margin-left: @left-panel-width + @left-panel-margin * 2;
}

.fetching
{
  color: grey;
}

.search-results-wrapper
{
  position: relative;
}

.search-results-fetching-wrapper
{
  background-color: rgba(122, 122, 122, 0.2);
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.search-results-fetching-image
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 32px;
}

.select-placeholder
{
  color: grey;
}

.search-parameter-container
{
  margin-bottom: 1em;
}

.search-parameter-label
{
  font-size: 0.9em;
  font-weight: bold;
  margin: 2px 0;
}

@multi-select-controller-mode-size: 60px;

.multi-select-controller
{
  position: relative;
  height: 1.5em;
  margin-bottom: 0.5em;
  >*
  {
    height: 100%;
    box-sizing: border-box;
  }
}

.multi-select-controller-mode
{
  width: @multi-select-controller-mode-size;
  z-index: -1;
}

.multi-select-controller-input
{
  width: @left-panel-width - @multi-select-controller-mode-size;
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: 0.5s width;
  &:focus, &:active
  {
    width: @left-panel-width;
    z-index: 3;
  }
}

.multi-select-controller-clear
{
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0px;
  background: none;
}

.multi-select-option
{
  list-style: none;
  margin: 1px 0;
  >*
  {
    cursor: pointer;
  }
}

.multi-select-option-checkbox
{
  margin-right: 4px;
}

.multi-select-option-label
{
  color: #282828;
}
